<mat-tab-group dynamicHeight>
  <mat-tab label="Schedule" *ngIf="day.toDos">
    <ul>
      <li class="list-item" *ngFor="let todo of day.toDos">
        <div class="time">
          <time>{{ todo.from < 10 ? '0' + todo.from : todo.from }}.00</time> -
          <time>{{ todo.to < 10 ? '0' + todo.to : todo.to }}.00</time>
        </div>
        <p>
          {{ todo.discription }}
        </p>
      </li>
    </ul>
  </mat-tab>
  <mat-tab label="Add task" *ngIf="day.freeTime">
    <div class="example-small-box mat-elevation-z4">
      <form
        (ngSubmit)="submit()"
        [formGroup]="formGroup"
        autocomplete="off"
        novalidate
      >
        <mat-stepper
          [linear]="formGroup.controls['discriptionCtrl'].invalid"
          #stepper
        >
          <mat-step
            [stepControl]="formGroup.controls['discriptionCtrl']"
            label="Task description"
          >
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>New task</mat-label>
              <textarea
                matInput
                placeholder="Distription of task..."
                formControlName="discriptionCtrl"
                maxlength="300"
              >
              </textarea>
              <mat-error>
                <strong>No less than three letters</strong>
              </mat-error>
            </mat-form-field>
            <button class="next" type="button" mat-button matStepperNext>
              Next
            </button>
          </mat-step>
          <mat-step
            [stepControl]="
              formGroup.controls['fromTimeCtrl'] &&
              formGroup.controls['toTimeCtrl']
            "
            label="Select the time"
          >
            <div class="step-time">
              <div class="select-section">
                <div class="select-from">
                  <label for="">From</label>
                  <app-select
                    formControlName="fromTimeCtrl"
                    [freeTime]="freeTimeFrom"
                  ></app-select>
                  <mat-error *ngIf="formGroup.controls['fromTimeCtrl'].invalid">
                    <strong>Required</strong>
                  </mat-error>
                </div>
                <div class="select-to">
                  <label for="">to</label>
                  <app-select
                    formControlName="toTimeCtrl"
                    [freeTime]="freeTimeTo"
                  ></app-select>
                  <mat-error *ngIf="formGroup.controls['toTimeCtrl'].invalid">
                    <strong>Required</strong>
                  </mat-error>
                </div>
              </div>
              <div class="action">
                <p>Press 'Add' to confirm</p>
                <div>
                  <button type="button" mat-button matStepperPrevious>
                    Back
                  </button>
                  <button type="submit" mat-button>Add</button>
                </div>
              </div>
            </div>
          </mat-step>
        </mat-stepper>
      </form>
    </div>
  </mat-tab>
</mat-tab-group>
