<mat-tab-group dynamicHeight>
  <mat-tab label="Add task">
    <div class="example-small-box mat-elevation-z4">
      <mat-stepper [linear]="firstFormGroup.controls['firstCtrl'].invalid" #stepper>
        <mat-step [stepControl]="firstFormGroup">
          <form class="discription" [formGroup]="firstFormGroup" autocomplete="off" novalidate>
            <ng-template matStepLabel>Task description</ng-template>
            <mat-form-field appearance="legacy">
              <input formControlName="firstCtrl" matInput required/>
              <mat-icon matSuffix>work</mat-icon>
            </mat-form-field>
            <mat-error *ngIf="firstFormGroup.controls['firstCtrl'].touched && firstFormGroup.controls['firstCtrl'].invalid">
              <strong>Required</strong>
            </mat-error>
            <div>
              <button mat-button matStepperNext>Next</button>
            </div>
          </form>
        </mat-step>
        <mat-step [stepControl]="secondFormGroup" label="Fill out your address">
          <form class="time-select" [formGroup]="secondFormGroup">
            <div>
              <label for="">From</label>
              <app-select></app-select>
            </div>
            <div>
              <label for="">to</label>
              <app-select></app-select>
            </div>
            <div class="action">
              <button mat-button matStepperPrevious>Back</button>
              <button mat-button matStepperNext>Next</button>
            </div>
          </form>
        </mat-step>
        <mat-step>
          <ng-template matStepLabel>Done</ng-template>
          <p>You are now done.</p>
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button (click)="stepper.reset()">Reset</button>
          </div>
        </mat-step>
      </mat-stepper>
    </div>
  </mat-tab>
  <mat-tab label="Schedule" *ngIf="dayInfo && dayInfo.toDos">
    <mat-selection-list #todo>
      <mat-list-option *ngFor="let todo of dayInfo.toDos">
        {{todo.from}} - {{todo.to}}  {{todo.discription}}
      </mat-list-option>
    </mat-selection-list>
    <p>
      Options selected: {{todo.selectedOptions.selected.length}}
    </p>
  </mat-tab>
</mat-tab-group>
<!-- <button mat-raised-button (click)="isLinear = !isLinear" id="toggle-linear">
  {{ !isLinear ? 'Enable linear mode' : 'Disable linear mode' }}
</button> -->
