@import '../../../../styles/colors';

.step-time {
  display: flex;
  justify-content: space-between;
  height: 200px;
}

textarea {
  max-height: 110px;
}

.select-section {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  margin-left: 1rem;

  .select-to,
  .select-from {
    display: flex;
    position: relative;
    flex-basis: 1;
    height: inherit;
    padding-right: 1.4rem;

    app-select {
      align-self: center;
    }

    .mat-error {
      position: absolute;
      right: 1.4rem;
      bottom: 0.4rem;
      width: 70px;
      text-align: center;
    }
  }

  label {
    align-self: center;
    padding-right: 1rem;
    font-weight: 500;
    text-transform: uppercase;
  }
}

.list-item {
  display: flex;
  justify-content: space-between;
  padding: 0.2rem 1rem;

  .time {
    width: 25%;
    font-size: 1.2rem;
  }

  p {
    width: 75%;
    padding-left: 0.7rem;
  }
}

.action {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: inherit;
  padding: 1rem;

  button {
    margin: 0 0.2rem;
  }
}

button {
  font-size: 1.2rem;
}

@media (max-width: 700px) {
  .step-time {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 230px;
    margin: 0 auto;
  }

  .select-section {
    justify-content: space-between;
    max-width: 80%;
  }

  .select-to,
  .select-from {
    flex-basis: 50%;
    justify-content: flex-end;
    padding-right: 0;

    .mat-error {
      bottom: -12px !important;
    }
  }

  .select-from {
    padding-left: 2rem;
  }

  .select-to {
    padding-right: 2rem;
  }

  .action {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%d;
    padding: 1rem;
  }
}
