
<div class="wrapper">
  <mat-icon>keyboard_arrow_up</mat-icon>
  <span></span>
  <select (change)="scr(select.value)" id="example" class="appearance" #select size="2">
    <option value="1" [selected]="choice === value"></option>
    <option value="2" [selected]="choice === value"></option>
    <option value="3" [selected]="choice === value"></option>
    <option value="4" [selected]="choice === value"></option>
    <option value="5" [selected]="choice === value"></option>
    <option value="6" [selected]="choice === value"></option>
  </select>
  <mat-icon>keyboard_arrow_down</mat-icon>
</div>

