@import '../../../../styles/colors';

$count: 25;

.wrapper {
  display: flex;
  position: relative;
  z-index: 2;
  flex-direction: column;
  align-items: center;
  width: 70px;

  .mat-icon {
    transform: scale(2, 1);
    color: $gray;
  }

  select {
    width: inherit;
    height: 2.4rem;
    height: 80px;
    border: none;
    border-radius: 0;
    outline: unset;
    font-size: 2rem;
    scroll-snap-type: y mandatory;

    button + &:hover {
      background-color: red;
    }
  }

  ::-webkit-scrollbar {
    width: 0;
    height: 0;
  }

  option {
    width: inherit;
    height: 100%;
    text-align: center;
    scroll-snap-align: start;
  }

  &:hover .bg {
    background-color: $white;
  }
}

.wrapper:hover span {
  transition-property: opacity;
  transition-duration: 0.5s;
  opacity: 1;
}

option::after {
  display: block;
  width: inherit;
  height: 90px;
  background-color: white;
  color: $primary;
  font-size: 1.5rem;
  line-height: 80px;
}

@for $index from 1 through 10 {
  option:nth-child(#{$index})::after {
    content: '#{$index - 1}';
  }
}

@for $index from 11 through $count {
  option:nth-child(#{$index})::after {
    content: '#{$index - 1}';
  }
}

option.selected::after {
  font-size: 1.8rem;
}

.d-none {
  display: none;
}

button {
  width: inherit;
  border-radius: 0;
}

.bg {
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  width: 70px;
  height: 100%;
}
