<div class="wrapper" (mouseleave)="makeChoice()">
  <button
    mat-button
    type="button"
    color="primary"
    (click)="changeSelect('plus')"
  >
    <mat-icon>keyboard_arrow_up</mat-icon>
  </button>
  <select id="example" class="appearance" #select size="2" required>
    <option
      [ngClass]="choice === time ? 'selected' : ''"
      *ngFor="let time of allTime"
      [selected]="choice === time"
      [value]="time"
      [class.d-none]="!freeTime?.includes(time)"
    ></option>
  </select>
  <button
    mat-button
    type="button"
    color="primary"
    (click)="changeSelect('minus')"
  >
    <mat-icon>keyboard_arrow_down</mat-icon>
  </button>
  <div class="bg"></div>
</div>
