@import "./theme.scss";
@import "./styles/colors";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body,
.container {
  height: 100%;
  color: $primary;
}

body {
  margin: 0;
  background-color: $gray;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.warning {
  background-color: $white;
  color: $warn;
}

.succes {
  background-color: $white;
  color: $primary;
}

.mat-flat-button {
  background-color: $secondary;
  color: $primary;
}
