@import './theme.scss';
@import './styles/colors';

html, body, .container { height: 100%; }
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  color: $primary;
  background-color: $gray;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}
