@import './theme.scss';
@import './styles/colors';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
.container {
  height: 100%;
}

body {
  margin: 0;
  background-color: $gray;
  color: $primary;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.warning {
  background-color: $white;
  color: $warn;
}

.succes {
  background-color: $white;
  color: $primary;
}
