@import "../../../../styles/colors";

.container {
  display: flex;
  justify-content: space-between;
  height: 100%;

  .info,
  .form-wrap {
    flex-basis: 50%;
    align-self: center;
    height: inherit;
  }

  .info {
    background-color: $primary;
    color: $white;

    h1 {
      padding: 2rem;
      font-size: 2rem;
    }
  }

  .form-wrap {
    background-color: $white;
  }

  form {
    position: relative;
    top: 50%;
    width: inherit;
    transform: translateY(-50%);

    button {
      width: 40%;
    }
  }

  fieldset {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: auto;
    border: none;
  }

  legend {
    padding-bottom: 1rem;
    font-size: 1.5rem;
    text-align: right;
  }

  .action {
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;

    :first-child {
      color: $white;
    }

    button:focus-visible {
      outline: 2px solid $secondary;
    }
  }
}

@media (max-width: 700px) {
  .container {
    flex-direction: column;
    justify-content: flex-start;

    .info,
    .form-wrap {
      width: 100%;
    }

    .form-wrap {
      flex-basis: 90%;
    }

    form {
      width: inherit;
      margin: auto;
      padding: 0 2rem;
    }

    fieldset {
      max-width: 300px;
      margin: auto;
    }

    .info {
      flex-basis: 10%;
    }
  }
}

@media (max-width: 360px) {
  .container {
    fieldset {
      width: 80%;
      margin: auto;
    }
  }
}

