<div class="container">
  <div class="info">
    <h1>Welcome to TimeTracker!</h1>
  </div>
  <div class="form-wrap">
    <form
      autocomplete="off"
      class="example-form"
      [formGroup]="authForm"
      (ngSubmit)="onSubmit()"
      novalidate
    >
      <fieldset>
        <legend>Login check</legend>
        <mat-form-field class="example-full-width">
          <mat-label>Email</mat-label>
          <input
            autofocus
            type="email"
            matInput
            formControlName="email"
            name="email"
            placeholder="example@mail.com"
          />
          <mat-error
            *ngIf="
              authForm.controls['email'].invalid &&
              authForm.controls['email'].dirty
            "
          >
            Please enter a valid email address
          </mat-error>
          <mat-error *ngIf="authForm.controls['email'].pristine">
            Email is <strong>required</strong>
          </mat-error>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <mat-label>Password</mat-label>
          <input
            type="password"
            matInput
            name="password"
            formControlName="password"
            placeholder="Example_123"
            autocomplete="on"
          />
          <mat-error
            *ngIf="
              authForm.controls['password'].invalid &&
              authForm.controls['password'].dirty
            "
          >
            Please enter a valid password
          </mat-error>
          <mat-error *ngIf="authForm.controls['password'].pristine">
            Password is <strong>required</strong>
          </mat-error>
        </mat-form-field>
        <div class="action">
          <button type="submit" mat-flat-button color="primary">Login</button>
          <button mat-button routerLink="/register">Sign up</button>
        </div>
      </fieldset>
    </form>
  </div>
</div>
