@import '../../../styles/colors';

.container {
  display: flex;
  justify-content: space-between;

  .info,
  .form-wrap {
    flex-basis: 50%;
    align-self: center;
    height: inherit;
  }

  .info {
    background-color: $primary;
    color: $white;

    h1 {
      padding: 2rem;
      font-size: 2rem;
    }
  }

  .form-wrap {
    background-color: $white;
  }

  form {
    position: relative;
    top: 50%;
    max-width: 60%;
    margin: auto;
    transform: translateY(-50%);


    button {
      width: 40%;
    }
  }

  fieldset {
    display: flex;
    flex-direction: column;
    border: none;
  }

  legend {
    padding-bottom: 1rem;
    font-size: 1.5rem;
    text-align: right;
  }

  .action {
    display: flex;
    justify-content: space-between;

    padding-top: 1rem;

    :first-child {
      color: $white;
    }
  }
}
