@import '../../../../styles/colors';

div {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

button {
  position: relative;

  height: 60px;
  width: 60px;
  border: none;
  font-size: 1.5rem;
}

.circle-out {
  fill: none;
  stroke: $secondary;
  stroke-width: 2px;
  stroke-dashoffset: 188;
}

.circle-in {
  fill: none;
  stroke: $primary;
  stroke-width: 2px;
  stroke-dashoffset: 154;
}

svg {
  position: absolute;
  top: -20px;
  left: -20px;
  transform: rotate(-90deg);
  opacity: 0.7;

  &:hover {
    transition-duration: 0.4s;
    opacity: 1;
  }
}
