<div class="wrap">
  <div class="pagination-wrap">
    <div class="pagination">
      <button mat-button color="accent" (click)="changeMonth('decrease')">
        <mat-icon class="back">arrow_forward_ios</mat-icon>
      </button>
      {{ calendarService.date | date: 'MMMM YYYY' }}
      <button mat-button color="accent" (click)="changeMonth('increase')">
        <mat-icon>arrow_forward_ios</mat-icon>
      </button>
    </div>
  </div>
  <ul class="head">
    <li>Sun</li>
    <li>Mon</li>
    <li>Tues</li>
    <li>Wed</li>
    <li>Thurs</li>
    <li>Fri</li>
    <li>Sat</li>
  </ul>
  <ul
    class="body"
    *ngIf="show"
    [ngStyle]="{
      animationName: move === 'increase' ? 'move-in-right' : 'move-in-left'
    }"
  >
    <span
      class="neighboring-month"
      *ngFor="let day of calendarService.daysPreviousMonth"
      >{{ day }}</span
    >
    <li *ngFor="let day of [].constructor(daysInMonth); let i = index">
      <app-day
        [toDos]="toDosInfo[i]"
        [dayOfMonth]="i + 1"
        [strokeDashIn]="styles[i].styleIn"
        [strokeDashOut]="styles[i].styleOut"
        (getDay)="calendarService.getDayInfo($event)"
      ></app-day>
    </li>
    <span
      class="neighboring-month"
      *ngFor="let day of calendarService.daysNextMonth"
      >{{ day }}</span
    >
  </ul>
</div>
