@import "../../../../styles/colors";

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.mat-toolbar {
  justify-content: space-between;
  color: $white;

  h1 {
    display: inline-block;
    padding-left: 0.5rem;
    vertical-align: middle;
  }
}

.logout-wrap {
  display: flex;
  gap: 1rem;

  button {
    background-color: $secondary;

    &:focus-visible {
      outline: 2px solid $white;
    }
  }
}

mat-sidenav {
  width: 18%;

  mat-nav-list {
    display: flex;
    flex-direction: column;

    a {
      padding: 0.5rem 0.7rem;
    }
  }
}

mat-sidenav-container {
  flex-grow: 1;
  background-color: $white;
}

time {
  display: block;
  text-align: right;
  padding: 1rem 3rem;
  font-size: 2rem;
}
