@import '../../../../styles/colors';

.wrap {
  max-width: 840px;
  margin: 1rem auto;


  .head {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    li {
      padding: 1rem 0;
      flex: 1;
      text-align: center;
    }
  }

}

.body {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  row-gap: 1rem;
  padding: 1rem 0;
  box-shadow: 0 0 7px 1px $gray;
  border: 1px solid $gray;
}

ul {
  list-style: none;
}

.pagination-wrap {
  display: flex;
  justify-content: center;
}

.pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 300px;

  button {
    border-radius: 0;
  }
}
