<div class="wrap">
  <div class="pagination-wrap">
    <div class="pagination">
      <button mat-button color="accent" (click)="changeMonth('minus')">
        <mat-icon class="back">arrow_forward_ios</mat-icon>
      </button>
      {{ calendarService.date | date: 'MMMM YYYY' }}
      <button mat-button color="accent" (click)="changeMonth('plus')">
        <mat-icon>arrow_forward_ios</mat-icon>
      </button>
    </div>
  </div>
  <ul class="head">
    <li>Sun</li>
    <li>Mon</li>
    <li>Tues</li>
    <li>Wed</li>
    <li>Thurs</li>
    <li>Fri</li>
    <li>Sat</li>
  </ul>
  <ul
    class="body"
    *ngIf="show"
    [ngStyle]="{
      animationName: move === 'plus' ? 'move-in-right' : 'move-in-left'
    }"
  >
    <li
      *ngFor="let day of calendarService.daysInMonth; let i = index"
      [ngStyle]="{ 'grid-column': i ? '' : calendarService.firstDayOfWeek }"
    >
      <app-day
        [dayOfMonth]="day"
        [strokeDashIn]="styles[day - 1].styleIn"
        [strokeDashOut]="styles[day - 1].styleOut"
        (getDay)="calendarService.getDayInfo($event)"
      ></app-day>
    </li>
  </ul>
</div>
