@import '../../../../styles/colors';

.wrap {
  max-width: 500px;
  margin: 0 auto;
  padding: 0 1rem;
  overflow: hidden;
  border: 1px solid $gray;
  box-shadow: 0 0 7px 1px $gray;

  .head {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border-bottom: 1px solid $gray;

    li {
      flex: 1;
      padding: 1rem 0;
      font-size: 0.9rem;
      font-weight: 500;
      text-align: center;
      text-transform: uppercase;
    }
  }
}

.body {
  display: grid;
  position: relative;
  grid-template-columns: repeat(7, 1fr);
  animation-duration: 0.5s;
}

ul {
  list-style: none;
}

.pagination-wrap {
  display: flex;
  justify-content: center;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  button {
    border-radius: 0;
  }
}

@keyframes move-in-left {
  from {
    left: 3333px;
  }

  to {
    left: 0;
  }
}

@keyframes move-in-right {
  from {
    left: -3333px;
  }

  to {
    left: 0;
  }
}
