@import "./theme";
@import "./styles/colors";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  color: $primary;
}

body {
  margin: 0;
  background-color: $gray;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

*::after {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.warning {
  background-color: $white;
  color: $warn;
  font-size: 1.2rem;
}

.successfully {
  background-color: $white;
  color: $primary;
  font-size: 1.2rem;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: $gray;
}

::-webkit-scrollbar-thumb {
  background-color: $primary;
}

::-webkit-scrollbar-thumb:hover {
  background-color: $secondary;
}

button {
  display: flex !important;
  align-items: center !important;
  justify-content: center;
  height: 2.5rem;
}

.mat-badge-content {
  top: -2px !important;
  right: -2px !important;
  background: $secondary;
}

// modal window
// try to minimize !important
.mat-dialog-container {
  width: 500px !important;
  padding: 0 !important;
  color: $primary;

  .mat-tab-label {
    height: 3rem;
  }

  .mat-tab-label-content {
    font-size: 1rem;
  }

  .cdk-focused {
    color: $primary;
  }

  .mat-horizontal-stepper-header-container {
    background-color: $white;
  }

  .mat-tab-label-active {
    &:focus {
      color: $primary;
    }
  }

  .mat-horizontal-content-container {
    padding: 0 !important;
  }

  .mat-horizontal-content-container
    .mat-horizontal-stepper-content:first-child {
    display: flex;
    flex-direction: column;

    button {
      align-self: end;
      margin: 0 0.5rem 0.5rem 0;
    }
  }

  .mat-step-header {
    justify-content: center;
    width: 100%;
    height: 3rem !important;
  }

  .mat-step-text-label {
    color: $primary;
    font-size: 1rem;
  }

  .mat-step-header[aria-disabled="true"] .mat-step-text-label {
    color: $gray;
  }

  .mat-step-header .mat-step-icon {
    display: none;
  }

  .mat-form-field-appearance-fill,
  .mat-form-field-flex {
    margin-top: 0.5rem;
  }
}

// adaptive
@media (max-width: 700px) {
  html {
    font-size: 12px;
  }

  .mat-dialog-container {
    width: 400px !important;
  }

  .mat-tab-label {
    width: 50%;
  }
}

@media (max-width: 360px) {
  html {
    font-size: 10px;
  }

  .cdk-overlay-pane {
    max-width: 96vw !important;
  }
}
